* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 10% 50% 30% 10%;
  grid-template-columns: 20% 10% 40% 10% 20%;
}

.book-shelf {
  display: grid;
  grid-column: 2 / span 3;
  grid-row: 2;
  justify-content: center;
  contain: content;
}

.book-input {
  display: grid;
  grid-column: 3;
  grid-row: 3;
  justify-content: center;
}
